.bidChartOuter {
  /* margin-top: 20px;
  background-color: #1d162d00;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #00000086; */
  margin-top: 20px;
  border-radius: 15px;
  background: transparent;
  /* border: 1px solid #1b162c; */
  /* Note: currently only Safari supports backdrop-filter */
  backdrop-filter: blur(30.056800842285156px);
  --webkit-backdrop-filter: blur(30.056800842285156px);
  background-color: rgba(255, 255, 255, 0.01);
}

.bidChartInner {
  color: #eafbf3;
}

.bidChartInner p {
  color: #75e4aa;
}
