.bidGridItem {
  background-color: #1d162d00;
  text-align: center;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #00000081;
}
.bidGridItem p {
  color: #ffd7e1;
}
.bidGridItem h6 {
  color: #ff0144;
}
